@import '../../bower_components/reset.scss/reset.scss';
.left {
	float: left;
}
.right {
	float: right;
}
.popupMenu {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	transition: all 0.8s;
	top: -100%;
	z-index: 999;
	opacity: .9;

	&_active	{
		top:	0%;
	}
}
.header {
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 999;

	.header__nav {
		max-width: 1200px;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		@media screen and (max-width: 1024px) {
			display: none;
		}

		.header__list {
			width: 40%;
			height: 100%;
			display: block;
			float: left;

			.header__itemList {
				width: 33.333333333%;
				height: 100%;
				display: block;
				float: left;
				text-align: center;
				display: table;

				.header__itemLink {
					display: table-cell;
					vertical-align: middle;
					font-family: 'Roboto', sans-serif;
					font-size: 1.5vmin;
					text-decoration: none;
					color: #fff;
					transition: all .5s;

					&:hover {
						color: #ccad00;
					}
				}
			}
		}
		.header__logoWrap {
			width: 20%;
			height: 100%;
			display: block;
			float: left;
			padding: 5px 0;

			.header__logo {
				width: 100%;
				height: 100%;
				background-image: url('../image/barbershopHeaderMenuLogo.png');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}

	.header__humburgerMenu {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: block;
		display: none;
		float: right;
		width: 80px;

		&.active {
			transform: rotate(45deg);

			.header__lineTop {
				stroke-dasharray: 17 82;
				stroke-dashoffset: -62px;
			}
			.header__lineMiddle {
				stroke-dashoffset: 23px;
			}
			.header__lineBottom {
				stroke-dashoffset: -83px;
			}
		}

		.header__line {
			fill:none;
			transition: stroke-dasharray .4s, stroke-dashoffset .4s;
			stroke:#ccad00;
			stroke-width:5.5;
			stroke-linecap:round;

			&.header__lineTop {
				stroke-dasharray: 40 82;
			}
			&.header__lineMiddle {
				stroke-dasharray: 40 111;
			}
			&.header__lineBottom {
				stroke-dasharray: 40 161;
			}
		}

		@media screen and (max-width: 1024px) {
			display: block;
		}
	}
}
.container {
	width: 100%;

	.homeBlock {
		width: 100%;
		height: 100vh;
		background-image: url('../image/barbershopHomeBg.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.homeBlock__logoBox {
			width: 35%;
			height: 35%;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url('../image/barbershopHomeLogoWhite.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.productSection {
		width: 100%;
		height: 100vh;

		@media screen and (max-width: 1024px) {
			height: 200vh;
		}

		.productBlock {
			width: 35%;
			height: 100%;
			display: block;

			@media screen and (max-width: 1440px) {
				width: 50%;
			}

			@media screen and (max-width: 1024px) {
				width: 100%;
				height: 50%;
			}

			.productBlock__contentBox {
				width: 80%;
				height: 90%;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				.productBlock__contentTitleWrap {
					width: 100%;
					height: 12%;
					text-align: center;
					display: table;

					.productBlock__contentTitle {
						display: table-cell;
						vertical-align: middle;
						font-family: 'Roboto', sans-serif;
						font-size: 3vmin;
					}
				}

				.productBlock__contentSubtitleWrap {
					width: 100%;
					height: 8%;
					text-align: center;
					display: table;

					.productBlock__contentSubtitle {
						color: gray;
						display: table-cell;
						vertical-align: top;
						font-family: 'Roboto', sans-serif;
						font-style: italic;
						font-weight: 300;
						font-size: 1.4vmin;
					}
				}

				.productBlock__productItemsWrap {
					width: 100%;
					height: 80%;

					.productBlock__productItem {
						&.productItem {
							display: block;
							float: left;

							&.productItem_size_large {
								width: 100%;
								height: 100%;
							}
							&.productItem_size_quarter {
								width: 50%;
								height: 50%;
							}

							.productItem__contentBox {
								width: 90%;
								height: 90%;
								position: relative;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);

								.productItem__img {
									width: 100%;
									height: 85%;
									background-color: #f7f7f9;
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;

									.productItem__reminderItemWrap {
										position: absolute;
										width: 50px;
										height: 20px;
										text-align: center;
										top: 10px;
										left: 10px;
										background-color: #94a182;

										.productItem__reminderItem {
											display: table-cell;
											vertical-align: middle;
											font-family: 'Roboto', sans-serif;
											font-size: 14px;
											color: #fff;
										}

										&.productItem__reminderItemWrap_display_table {
											display: table;
										}

										&.productItem__reminderItemWrap_display_none {
											display: none;
										}
									}

									&.productItem__img_bg_stand {
										background-image: url('../image/stand.png');
									}

									&.productItem__img_bg_straightRazor {
										background-image: url('../image/straightRazor.png');
									}

									&.productItem__img_bg_comb {
										background-image: url('../image/comb.png');
									}

									&.productItem__img_bg_shoesBrown {
										background-image: url('../image/shoesBrown.png');
									}

									&.productItem__img_bg_shavingMachine {
										background-image: url('../image/shavingMachine.png');
									}
									
									&.productItem__img_bg_pipe {
										background-image: url('../image/pipe.png');
									}

									&.productItem__img_bg_phone {
										background-image: url('../image/phone.png');
									}

									&.productItem__img_bg_chair {
										background-image: url('../image/chair.png');
									}

									&.productItem__img_bg_shoes {
										background-image: url('../image/shoes.jpg');
									}

									&.productItem__img_bg_straightRazor2 {
										background-image: url('../image/straightRazor2.png');
									}

									&.productItem__img_bg_brush {
										background-image: url('../image/brush.png');
									}
								}

								.productItem__nameItemWrap {
									width: 85%;
									height: 10%;
									display: table;
									float: left;

									.productItem__nameItem {
										display: table-cell;
										vertical-align: middle;
										font-family: 'Roboto', sans-serif;
										font-size: 1.2vmin;
									}
								}
								.productItem__likeItemWrap {
									width: 15%;
									height: 10%;
									text-align: right;
									display: table;
									float: left;

									.far,
									.fas {
										display: table-cell;
										vertical-align: middle;
										font-size: 16px;
										cursor: pointer;
									}
									.far {
										color: gray;
									}
									.fas {
										color: red;
									}
								}

								.productItem__priceItemWrap {
									width: 100%;
									height: 5%;
									display: table;

									.productItem__priceItem {
										display: table-cell;
										vertical-align: middle;
										font-family: 'Roboto', sans-serif;
										font-size: 1vmin;
										color: gray;
									}
								}
							}
						}
					}

					.productItem__logo {
						margin-top: 15%;
						width: 100%;
						height: 30%;
						display: block;
						float: left;
						background-image: url('../image/barbershopContentLogo.png');
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		}

		.emptyImgBlock {
			width: 65%;
			height: 100%;
			display: block;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			&.emptyImgBlock_bg_1 {
				background-image: url('../image/emptyImgBlock_bg_1.jpg');
			}
			&.emptyImgBlock_bg_2 {
				background-image: url('../image/emptyImgBlock_bg_2.jpg');
			}
			&.emptyImgBlock_bg_3 {
				background-image: url('../image/emptyImgBlock_bg_3.jpg');
			}
			&.emptyImgBlock_bg_4 {
				background-image: url('../image/emptyImgBlock_bg_4.jpg');
			}
			&.emptyImgBlock_bg_5 {
				background-image: url('../image/emptyImgBlock_bg_5.jpg');
			}
			&.emptyImgBlock_bg_6 {
				background-image: url('../image/emptyImgBlock_bg_6.jpg');
			}

			@media screen and (max-width: 1440px) {
				width: 50%;
			}

			@media screen and (max-width: 1024px) {
				width: 100%;
				height: 50%;
			}
		}
	}

	.textSection {
		width: 100%;
		height: 100vh;

		@media screen and (max-width: 1024px) {
			height: 200vh;
		}

		.textBlock {
			width: 35%;
			height: 100%;

			@media screen and (max-width: 1440px) {
				width: 50%;
			}

			@media screen and (max-width: 1024px) {
				width: 100%;
				height: 50%;
			}

			.textBlock__contentBox {
				width: 80%;
				height: 90%;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				.textBlock__paragraphWrap {
					width: 100%;
					height: 70%;
					text-align: justify;

					.textBlock__paragraph {
						font-family: 'Roboto', sans-serif;
						font-weight: 500;
						font-size: 1.8vmin;

						&:first-letter {
							font-size:6em;
							font-weight: 500;
							float:left;
							margin-top:-10px;
							margin-right: 20px;
						}
					}
				}

				.textBlock__logo {
					width: 100%;
					height: 30%;
					background-image: url('../image/barbershopContentLogo.png');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
	}

	.emptyImgBlock {
		width: 65%;
		height: 100%;
		display: block;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&.emptyImgBlock_bg_6 {
			background-image: url('../image/emptyImgBlock_bg_6.jpg');
		}

		@media screen and (max-width: 1440px) {
			width: 50%;
		}

		@media screen and (max-width: 1024px) {
			width: 100%;
			height: 50%;
		}
	}
}