@import '../../bower_components/reset.scss/reset.scss';
::-webkit-scrollbar {
  width               : 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
@import 'partials/popupMenu.scss';
@import 'partials/header.scss';
@import 'partials/container.scss';