html
	head
		include template/head.pug
	body
		header.header
			nav.header__nav
				ul.header__list
					mixin horizontalListItemMix(link, nameLink)
						li.header__itemList
							a(class="header__itemLink" href=(`${link}`))= nameLink
					+horizontalListItemMix('#one', 'STYLE')
					+horizontalListItemMix('#two', 'CLASSIC')
					+horizontalListItemMix('#three', 'CALL')
				.header__logoWrap
					a(href="#home")
						.header__logo
				ul.header__list
					mixin horizontalListItemMix(link, nameLink)
						li.header__itemList
							a(class="header__itemLink" href=(`${link}`))= nameLink
					+horizontalListItemMix('#four', 'SUPPLIES')
					+horizontalListItemMix('#five', 'TRIMMERS')
					+horizontalListItemMix('#six', 'ABOUT US')
		main.container
			section#home.homeBlock
				.homeBlock__logoBox
			mixin productSectionMix(sectionIdMix, productBlockType, emptyImgBlockMix, floatMix, contentTitleMix,  contentSubtitleMix, productItemSize1Array, productItemBgImg1Array, display1Array, nameItem1Array, priceItem1Array, productItemSize2Array, productItemBgImg2Array, display2Array, nameItem2Array, priceItem2Array, productItemSize3Array, productItemBgImg3Array, display3Array, nameItem3Array, priceItem3Array, productItemSize4Array, productItemBgImg4Array, display4Array, nameItem4Array, priceItem4Array)
				include template/partials/productSection.pug
			+productSectionMix(	'one' ,'twoItems', '1', 'left', "Some things <br> simply won`t go <br> out of style", '',
								'productItem_size_quarter','productItem__img_bg_stand', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$120.00',
								'productItem_size_quarter', 'productItem__img_bg_straightRazor', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$120.00')
			+productSectionMix(	'two' ,'fourItems', '2', 'right', 'THE CLASSIC <br> GENTLEMAN', 'Lorem ipsum dolor sit amet, consectetur adipisicing.',
								'productItem_size_quarter', 'productItem__img_bg_comb', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$10.00',
								'productItem_size_quarter', 'productItem__img_bg_shoesBrown', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$10.00',
								'productItem_size_quarter', 'productItem__img_bg_shavingMachine', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$10.00',
								'productItem_size_quarter', 'productItem__img_bg_pipe', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$10.00')
			+productSectionMix(	'three' ,'largeItem', '3', 'left', "CALL `EM OFTEN", 'Lorem ipsum dolor sit amet, consectetur adipisicing.',
								'productItem_size_large', 'productItem__img_bg_phone', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$210.00')
			+productSectionMix(	'four' ,'largeItem', '4', 'right', 'ESSENTIAL <br> BARBER SUPPLIES', 'Lorem ipsum dolor sit amet, consectetur adipisicing.',
								'productItem_size_large', 'productItem__img_bg_chair', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$320.00')
			+productSectionMix(	'five' ,'fourItems', '5', 'left', 'CLIPPERS <br> AND TRIMMERS', 'Lorem ipsum dolor sit amet, consectetur adipisicing.',
								'productItem_size_quarter', 'productItem__img_bg_phone', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$20.00',
								'productItem_size_quarter', 'productItem__img_bg_shoes', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$20.00',
								'productItem_size_quarter', 'productItem__img_bg_straightRazor2', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$20.00',
								'productItem_size_quarter', 'productItem__img_bg_brush', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$20.00')
			section#six.textSection
				.textBlock.right
					.textBlock__contentBox
						.textBlock__paragraphWrap
							p.textBlock__paragraph A lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta illum ut quas dolore, voluptatum quibusdam, tempore iusto iste veniam deleniti cum culpa aspernatur magnam iure atque quos hic eligendi deserunt quae amet eaque repellendus consequatur. Velit dolores aliquid fugiat magnam ad illo, autem impedit eveniet totam ullam officia officiis dolore earum repellat, veritatis, reprehenderit mollitia sint. Saepe magni sapiente necessitatibus. Doloribus quisquam, magnam saepe eaque laboriosam temporibus culpa officiis labore amet corporis aliquam hic maiores vel ea distinctio assumenda dignissimos in et? Dolorem illum eaque, totam saepe quae illo, qui iure architecto magnam doloremque maiores deserunt eius repellendus nulla officiis nam amet deleniti nesciunt laudantium ducimus! Maiores asperiores quas, tempora quae culpa, quis dolore illo doloribus perferendis placeat voluptatum pariatur, facere, ab rerum quia atque libero non odio ullam laboriosam et iste! Dignissimos obcaecati tenetur cupiditate accusantium laboriosam, suscipit corporis veniam harum voluptatum rem qui a saepe culpa ipsa. Consectetur cum explicabo, laborum voluptas dolor deserunt quidem repudiandae sed vitae laudantium, nemo accusantium quisquam odio ut reiciendis harum magnam in, possimus incidunt rerum ipsam animi iste!
						.textBlock__logo
				.emptyImgBlock.emptyImgBlock_bg_6.right
		include template/scripts.pug