html
	head
		include template/head.pug
	body
		header.header
			nav.header__nav
				ul.header__list
					mixin verticalListItemMix(link, nameLink)
						li.header__itemList
							a(class="header__itemLink" href=(`${link}`))= nameLink
					+verticalListItemMix('#', 'HOME')
					+verticalListItemMix('#', 'PORTFOLIO')
					+verticalListItemMix('#', 'ABOUT US')
				.header__logo
				ul.header__list
					mixin verticalListItemMix(link, nameLink)
						li.header__itemList
							a(class="header__itemLink" href=(`${link}`))= nameLink
					+verticalListItemMix('#', 'HOME')
					+verticalListItemMix('#', 'PORTFOLIO')
					+verticalListItemMix('#', 'ABOUT US')
		include template/scripts.pug