html
	head
		include template/head.pug
	body
		header.header
			nav.header__nav
				ul.header__list
					mixin horizontalListItemMix(link, nameLink)
						li.header__itemList
							a(class="header__itemLink" href=(`${link}`))= nameLink
					+horizontalListItemMix('#', 'HOME')
					+horizontalListItemMix('#', 'PORTFOLIO')
					+horizontalListItemMix('#', 'ABOUT US')
				.header__logoWrap
					.header__logo
				ul.header__list
					mixin horizontalListItemMix(link, nameLink)
						li.header__itemList
							a(class="header__itemLink" href=(`${link}`))= nameLink
					+horizontalListItemMix('#', 'HOME')
					+horizontalListItemMix('#', 'PORTFOLIO')
					+horizontalListItemMix('#', 'ABOUT US')
		main.container
			section.homeBlock
				.homeBlock__logoBox
			mixin productSectionMix(productBlockType, emptyImgBlockMix, floatMix, contentTitleMix,  contentSubtitleMix, productItemSize1Array, productItemBgImg1Array, display1Array, nameItem1Array, priceItem1Array, productItemSize2Array, productItemBgImg2Array, display2Array, nameItem2Array, priceItem2Array, productItemSize3Array, productItemBgImg3Array, display3Array, nameItem3Array, priceItem3Array, productItemSize4Array, productItemBgImg4Array, display4Array, nameItem4Array, priceItem4Array)
				include template/partials/productSection.pug
			+productSectionMix(	'twoItems', '1', 'left', 'The classic Gentelman', 'LoremIpsum dolor sit amet',
								'productItem_size_quanter','productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$120.00',
								'productItem_size_quanter', 'productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$120.00')
			+productSectionMix(	'fourItems', '2', 'right', 'The classic Gentelman', 'LoremIpsum dolor sit amet',
								'productItem_size_quanter', 'productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$10.00',
								'productItem_size_quanter', 'productItem__img_bg_stul', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$10.00',
								'productItem_size_quanter', 'productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$10.00',
								'productItem_size_quanter', 'productItem__img_bg_stul', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$10.00')
			+productSectionMix(	'largeItem', '3', 'left', 'The classic Gentelman', 'LoremIpsum dolor sit amet',
								'productItem_size_quanter', 'productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$210.00')
			+productSectionMix(	'largeItem', '4', 'right', 'The classic Gentelman', 'LoremIpsum dolor sit amet',
								'productItem_size_quanter', 'productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$320.00')
			+productSectionMix(	'fourItems', '5', 'left', 'The classic Gentelman', 'LoremIpsum dolor sit amet',
								'productItem_size_quanter', 'productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$20.00',
								'productItem_size_quanter', 'productItem__img_bg_stul', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$20.00',
								'productItem_size_quanter', 'productItem__img_bg_nojnici', 'productItem__reminderItemWrap_display_table', 'Lorem ipsum', '$20.00',
								'productItem_size_quanter', 'productItem__img_bg_stul', 'productItem__reminderItemWrap_display_none', 'Lorem ipsum', '$20.00')
		include template/scripts.pug