.header {
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 999;

	.header__nav {
		max-width: 1200px;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		@media screen and (max-width: 1024px) {
			display: none;
		}

		.header__list {
			width: 40%;
			height: 100%;
			display: block;
			float: left;

			.header__itemList {
				width: 33.333333333%;
				height: 100%;
				display: block;
				float: left;
				text-align: center;
				display: table;

				.header__itemLink {
					display: table-cell;
					vertical-align: middle;
					font-family: 'Roboto', sans-serif;
					font-size: 1.5vmin;
					text-decoration: none;
					color: #fff;
					transition: all .5s;

					&:hover {
						color: #ccad00;
					}
				}
			}
		}
		.header__logoWrap {
			width: 20%;
			height: 100%;
			display: block;
			float: left;
			padding: 5px 0;

			.header__logo {
				width: 100%;
				height: 100%;
				background-image: url('../image/barbershopHeaderMenuLogo.png');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}

	.header__humburgerMenu {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: block;
		display: none;
		float: right;
		width: 80px;

		&.active {
			transform: rotate(45deg);

			.header__lineTop {
				stroke-dasharray: 17 82;
				stroke-dashoffset: -62px;
			}
			.header__lineMiddle {
				stroke-dashoffset: 23px;
			}
			.header__lineBottom {
				stroke-dashoffset: -83px;
			}
		}

		.header__line {
			fill:none;
			transition: stroke-dasharray .4s, stroke-dashoffset .4s;
			stroke:#ccad00;
			stroke-width:5.5;
			stroke-linecap:round;

			&.header__lineTop {
				stroke-dasharray: 40 82;
			}
			&.header__lineMiddle {
				stroke-dasharray: 40 111;
			}
			&.header__lineBottom {
				stroke-dasharray: 40 161;
			}
		}

		@media screen and (max-width: 1024px) {
			display: block;
		}
	}
}