header.header
	nav.header__nav
		ul.header__list
			mixin horizontalListItemMix(link, nameLink)
				li.header__itemList
					a(class="header__itemLink" href=(`${link}`))= nameLink
			+horizontalListItemMix('#one', 'STYLE')
			+horizontalListItemMix('#two', 'CLASSIC')
			+horizontalListItemMix('#three', 'CALL')
		.header__logoWrap
			a(href="#home")
				.header__logo
		ul.header__list
			mixin horizontalListItemMix(link, nameLink)
				li.header__itemList
					a(class="header__itemLink" href=(`${link}`))= nameLink
			+horizontalListItemMix('#four', 'SUPPLIES')
			+horizontalListItemMix('#five', 'TRIMMERS')
			+horizontalListItemMix('#six', 'ABOUT US')
	svg(class="header__humburgerMenu" viewBox="0 0 100 100" onclick="this.classList.toggle('active')")
		path(class="header__line header__lineTop" d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013")
		path(class="header__line header__lineMiddle" d="m 70,50 h -40")
		path(class="header__line header__lineBottom" d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40")